$primary: #f6e0b5;
$primary-light: #f6e0b5;
$primary-dark: #594726;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #594726;
$on-secondary: #f6e0b5;

$highlight: #594726;