.dropdown {
  position: relative;
  display: inline-block;
  padding-left:100px;
  padding-right:100px;
}

.dropdown_content {
  display: none;
  transition-delay:1s;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

.featured{
position:relative;
  
width:auto;
  height:100%;
  overflow:hidden;
  justify-content:center;
  #border-radius:3%;
  
#transition: box-shadow 1.5s;
    
}

.buffer{
  background-color:#faedd4;
  width:100%;
  height:100px;
}
.artflex{
text-align:center;
  justify-content:center;
  
}

.title{
  text-align:center;
  font-weight:normal;
}

/*.featured:hover{
  box-shadow: 5px 10px 18px #594726;
}*/
.Images{
  
  flex:1;
  justify-content:center;
  display:block;
  #border-radius:3%;
  transition: width 1s, height 1s;
}
.Images2{
  


  border-radius:3%;
  
}


//Slideshow styles
/*
  .slider {
    width: 300px;
    text-align: center;
    overflow: hidden;

    
  }
  
  .slides {
    display: flex;
  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
/*
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
 width:100%;
    
    margin-right: 50px;
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.Images {
  border-radius:5%;
  border: 5px solid red;
}
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: black;
    color:white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
  /* Don't need button navigation */
/*
  @supports (scroll-snap-type) {
    .slider > a {
      display: block;
    }
  }
*/